.node {
    width: 4px;
    height: 4px;
    /*border: 1px solid rgba(0,100,0, 0.5);*/
    user-select: none;
    overflow: visible;
}
.wall {
    background-color: black;
    /*border: 1px solid black;*/
}
/*.East79thStreet {*/
/*    background-color: red;*/
/*}*/
.actualNode {
    background-color: green;
}