body {
    background-color: black;
    image-rendering: pixelated;
}
.board-container {
    /*border-collapse: collapse;*/
    /*overflow: scroll;*/
}
table {
    /*border-spacing: 0;*/
    table-layout: fixed;
    border-collapse: collapse;
    /*overflow: scroll;*/
    width: 100%;
}
button {
    width: 60px;
    height: 30px;
    margin-right: 5px;
}
#zoom-in-out {
    position: fixed;
    right: 0;
}
#switching-model {
    position: fixed;
    left: 0;
    top: 1px;
}
#switching-model select {
    width: 100px;
    height: 25px;
    margin-left: 5px;
}

#box {
    position: fixed;
    bottom: 0;
    right: 120px;
    transform: rotate(-90deg);
    width: 20px;
    height: 200px;
    background: linear-gradient(green 0%, yellow 50%, red 100%);
}